*.class
*.iml
example/project/target/*
example/project/project/*

forcomp/project/target/*
forcomp/project/project/*
forcomp/target/*
forcomp/.idea/*
forcomp/.scalafix.conf

funsets/project/target/*
funsets/project/project/*
funsets/target/*
funsets/.idea/*
funsets/project/.idea/*
funsets/.scalafix.conf

objsets/project/target/*
objsets/project/project/*
objsets/target/*
objsets/.idea/*
objsets/project/.idea/*
objsets/.scalafix.conf

patmat/project/target/*
patmat/project/project/*
patmat/target/*
patmat/.idea/*
patmat/project/.idea/*
patmat/.scalafix.conf

recfun/project/target/*
recfun/project/project/*  
recfun/target/*
recfun/.idea/*
recfun/project/.idea/*
recfun/.scalafix.conf

